/**********************
 * Window Decorations *
 *********************/
  window.csd {
    box-shadow: 0 30px 50px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: 0px;
    border: none;
    }
